body{
    margin:10px;
    padding-top: 95px;
    padding-left:100px;
    padding-right: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    height:75px;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-bottom-width:3px ;
    border-bottom-style: solid;
    border-bottom-color: rgb(232, 226, 226);
    z-index: 10;
}
.left-section{
    height: 50px;
    display: flex;
    align-items: center;
}
.hamburger{
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.youtube-logo{
    height: 20px;
    margin-right: 20px;
}
.middle-section{
    flex: 1;
    margin-left: 60px;
    margin-right: 30px;
    max-width: 440px;
    height: 60px;
    display: flex;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 38px;
    padding-left: 20px;
    font-size: 18px;
    border:2px solid black;
    border-radius: 2px;
    border-color: rgb(159, 119, 119);
    width: 0;
}
.search-bar::placeholder{
    font-family:Roboto,Arial;
}
.search-btn{
    height: 38px;
    width: 60px;
    border-width: 1px;
    background-color: rgb(220, 227, 227);
    margin-left: -2px;
}
.search-btn,
.voice-search-btn,
.right-section{
    position: relative;
}
.search-btn div{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 14px;
    padding-bottom: 3px;
    bottom: -30px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.15s;
}   
.voice-search-btn div{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 14px;
    padding-bottom: 3px;
    bottom: -30px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.right-section .ab{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 14px;
    padding-bottom: 3px;
    bottom: -30px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}



.voice-search-btn:hover div,
.search-btn:hover div,
.right-section:hover .ab,
.right-section:hover .bc{
    opacity: 1;
}
.search-icon{
    height: 25px;
    margin-top: 6px;
    
}
.voice-search-btn{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(220, 227, 227);

}
.voice-icon{
    margin-top: 2px;
    border: none;

}
.right-section{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.upload-icon{
    height: 30px;
}
.youtube-icon{
    height: 30px;

}
.notify{
    height: 30px;
}
.notify-container{
    position: relative;
}
.notify-count{
    position: absolute;
    background-color: rgb(202, 5, 5);
    top: 0;
    right: 0;
    color: white;
    border-radius:10px;
    font-family: Roboto Arial;
    font-size: 10px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.profile-icon{
    height: 30px;
    border-radius: 50%;
    margin-right:15px;
}
.sidebar{
    position: fixed;
    top: 75px;
    left: 10px;
    bottom: 0;
    background-color: white;
    width:65px;
    border-right-width:3px solid red;

}
.sidebar-link{
    height: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1px;
}
.sidebar-link div{
    font-size: 14px;
    font-family: Roboto,Arial;
    padding-top: 7px;
    margin-left: 20px;
}
.sidebar-link img{
    width: 40px;
    align-items: center;
    margin-left: 15px;
}
.sidebar-link:hover{
    width:90px;
    background-color:lightgrey;
}
.ex{
    display: block;
    justify-content: center;
}
input{
    width: 300px;
    align-items: center;
}
body{
    background-position: fixed;
    overflow-x: hidden;
}
.b{
    display: inline-block;
    justify-content: center;
    width:335px;
    margin: 20px 20px 20px 0px;
    position: relative;
}
.video-time{
    position: absolute;
    bottom: 100px;
    right:-10px;
    background-color: black;
    color: white;
    font-family: Roboto,Arial;
    font-size: 15px;
    font-weight: 500;
    border-radius: 2px;
    padding: 2px 2px 2px 2px;
}
.b img{
    display: inline-block;
    justify-content: center;
    width:350px;
    cursor: pointer;
}
.e{
    display: flex;
    justify-content:space-between;
    width:320px;
    margin-left: 0px;
    margin-top: 10px;
}
.e p{
    display: inline-flex;
    margin-top:0px ;
    margin-bottom: 0px;
    margin-left:-1px;
    font:bold;
    padding-right:20px ;
    cursor: pointer;
    font-weight: bold;
}
.e img{
    display: inline-flex;
    justify-content:space-between;
    border-radius: 70px;
    width: 40px;
    height: 40px;
}
.g{
    margin-left: 10px;
    padding-left: 20px;

}
.search{

}
.g{
    margin: 0px 4px;
    font-size: 14px;
    margin-left: 20px;
    color: rgb(96,96,96);


}